@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #03A9F4;
}

.contact a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-align: left;
  font-weight: bold;
}

.scoreboard {
  margin-top: 50px;
}

ul
{
  list-style-type: none;
}

.demo-card-wide.mdl-card {
  width: 300px;
  height: 570px;
  margin: 50px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('Poly.jpg') center / cover ;
}

.demo-card-wide > .mdl-card__supporting-text {
  height:90px;
  background-color: #FF5252;
}

.demo-list-item {
  width: 300px;
}

.score {
  font-size: 40px;
}
